.relativeObject{
    position: relative;
    text-align: center;
}
.cardBg{
    margin: 0 auto;
    max-width: 360px;
}
.bonusIcon{
    position: absolute;
    bottom: -82px;
    left: -27px;
    max-width: 200px;
    min-width: 200px;
}

.kjkj{
    max-width: 850px;
}
/* Home.css */
.head-my-app{
    padding-top: 2.5em;
}