
:root {
	--ion-color-main2: #F7CE55;
	--ion-color-main2-rgb: 247,206,85;
	--ion-color-main2-contrast: #000000;
	--ion-color-main2-contrast-rgb: 0,0,0;
	--ion-color-main2-shade: #d9b54b;
	--ion-color-main2-tint: #f8d366;
}
.ion-color-main2 {
	--ion-color-base: var(--ion-color-main2);
	--ion-color-base-rgb: var(--ion-color-main2-rgb);
	--ion-color-contrast: var(--ion-color-main2-contrast);
	--ion-color-contrast-rgb: var(--ion-color-main2-contrast-rgb);
	--ion-color-shade: var(--ion-color-main2-shade);
	--ion-color-tint: var(--ion-color-main2-tint);
}
.play-game-content {
  --background: linear-gradient(135deg, #00c6ff, #ff72e6) !important;
  background-attachment: fixed !important;
}
.head-count{
  color: #e1f9ff !important;
  padding-left: 3rem;
}
.play-game-content::part(scroll) {
  background: linear-gradient(135deg, #00c6ff, #ff72e6) !important;
  background-attachment: fixed !important;
}
.mySwiper {
  padding-top: 30px !important;
  width: auto;
  height: 480px !important;
  max-height: 480px !important ;
  max-width: 320px;
  height: auto ;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}
  
.slide{
  position: relative;
  border-radius: 50px;
}
.slide h1{
  font-size: 26px;
  line-height: 2.1rem;
  padding:8.2rem 1.5rem;
}
.slide .TopiconInCard{
  position: absolute;
  max-width: 70px !important;
  top: 20px;
  right: 20px;
  width: 5em;
  z-index: 3;
}
.slide .seccond-TopiconInCard{
  position: absolute;
  max-width: 70px !important;
  top: 20px;
  left: 20px;
  width: 5em;
  z-index: 3;
}
.slide .BottomiconInCard{
  transform: rotate(180deg) !important;
  position: absolute;
  max-width: 70px !important;
  bottom: 20px;
  left: 20px;
  width: 5em;
  z-index: 3;
}
.slide .seccond-BottomiconInCard{
  transform: rotate(180deg) !important;
  position: absolute;
  max-width: 70px !important;
  bottom: 20px;
  right: 20px;
  width: 5em;
  z-index: 3;
}
.icon-5 {
  border: 15px solid #e1f9ff;
  background-color: #36cbff;
}
  
.icon-2 {
  border: 15px solid #ffe5cc;
  background-color: #ffa645;
}
  
.icon-3 {
  border: 15px solid #fffbd2;
  background-color: #f2df2f;
}
  
.icon-4 {
  border: 15px solid #fcd9ff;
  background-color: #fa99ff;
}
.icon-6 {
  border: 15px solid #ffe5cc;
  background-color: #ffa645;
}
.icon-7 {
  border: 15px solid #fcd9ff;
  background-color: #a44ad3;
}
.ProgressTab{
  position: relative;
}
.ProgressTab h1{
  padding-top: 2.2em;
  text-align: center;
  font-weight: 1000;
  font-size: 2em;
  color: rgb(87, 87, 87);
}
.ProgressTab .top{
  position: absolute;
  left: 45;
  top: 40;
  width: 120px;
}
@media only screen and (max-width: 300px) {
  .swiper {
    max-width: 300px;
  }
}
  